@import "tailwindcss";

/* @font-face {
  font-family: "PP Neue Montreal Book";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Book"),
    url("/ppneuemontreal-book.woff") format("woff");
} */
body {
  font-family: "myfont", sans-serif;
}
